.animation-fade.ng-hide-add,
.animation-fade.ng-hide-remove {
    /* здесь прописаны эффекты проявления и исчезновения слайда */
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;
    display: block !important;
}
.animation-fade.ng-hide-add,
.animation-fade.ng-hide-remove.ng-hide-remove-active {
    /* это стартовая точка анимации исчезновения и конечная точка анимации проявления */
    opacity: 1;
}
.animation-fade.ng-hide-add.ng-hide-add-active,
.animation-fade.ng-hide-remove {
    /* это конечная точка анимации исчезновения и стартовая точка анимации проявления */
    opacity: 0;
    position: absolute;
}


.my-switch-animation.ng-enter,
.my-switch-animation.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    position:absolute;
}

.my-switch-animation.ng-enter {
    left:100%;
}

.my-switch-animation.ng-leave,
.my-switch-animation.ng-enter.ng-enter-active {
    left:0;
}

.my-switch-animation.ng-leave.ng-leave-active {
    left:-100%;
}


