body{
    margin: 0;
}

.main{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.main video{
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.main .logo{
    position: relative;
    height: 100%;
    width: 100%;
}

.main .logo img{
    width: 60%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main .home-link{
    position: absolute;
    top: 20px;
    left: 0px;
    background-color: #000000;
    width: 120px;
    height: 35px;
    margin: 0 auto;
}

.main .home-link img{
    width: 70px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main .home-icon{
    position: absolute;
    width: 35px;
    height: 35px;
    text-align: center;
    top: 20px;
    left: 121px;
    background-color: #000000;
    color: #ffffff;
}

.main .home-icon i{
    margin-top: 10px;
}

.main .description{
    position: absolute;
    width: 14%;
    top: 130px;
    left: 30px;
    line-height: 1.9em;
    font-size: 9px;
    font-family: monospace;
    color: #000000;
    text-align: justify;
}

.articles{
    width: 100%;
    margin: 0;
    padding: 0;
    /*overflow-x:hidden;*/
    white-space: nowrap;
    position: relative;
}

.articles .category{
    margin: 0;
    width: 16.65%;
    float: left;
    text-align: center;
    white-space: normal;
    font-size: 10px;
    font-family: monospace;
    padding: 0;
}

.articles .category:hover{
    background-color: lightgray;
}

.articles .category .item{
    margin: 10px;
}

.articles .category .icon img{
    height: 50px;
}