@font-face {
    font-family: ISOCTEUR;
    src: url(../fonts/ISOCTEUR.ttf);
}

body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: ISOCTEUR;
}

.main {
    height: 100vh;
    min-height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.main video {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.main .logo {
    position: relative;
    height: 100%;
    width: 100%;
}

.main .logo .logo-image {
    width: 60%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main .logo .logo-scroll {
    width: 30px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 20px;
}

.main .home-link {
    position: absolute;
    top: 20px;
    left: 0px;
    background-color: #000000;
    width: 120px;
    height: 35px;
    margin: 0 auto;
}

.main .home-link img {
    width: 70px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main .home-icon {
    position: absolute;
    width: 35px;
    height: 35px;
    text-align: center;
    top: 20px;
    left: 121px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

.main .home-icon i {
    margin-top: 10px;
}

.main .description {
    top: 50%;    
    /*width: 50%;*/
    position: absolute;
    padding: 0 22%;
    line-height: 1.5em;
    font-size: 16px;
    color: #000000;
    text-align: justify;
}

.articles {
    width: 100%;
    margin: 0;
    padding: 0;
    /*overflow-x:hidden;*/
    white-space: nowrap;
    position: relative;
}

.articles .category {
    margin: 0;
    width: 16.65%;
    float: left;
    text-align: center;
    white-space: normal;
    font-family: monospace;
    padding: 0;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
}

.articles .category:hover {
    background-color: lightgray;
}

.articles .category .item {
    margin: 10px;
    padding: 0 20px;
}

.articles .category.active {
    background-color: lightgray;
}

.articles .category.active .title {
    display: none;

}

.articles .category .icon,
.articles .category .title {
    height: 48px;
    padding-top: 2px;
}

.articles .category.active .icon {
    height: 98px;
}

.articles .category.active .title {
    display: none;
}

.articles .category .icon img {
    height: 100%;
    width: auto;
}

.articles .category.active .icon img {
    height: 90%;
}

.sidebar {
    position: fixed;
    right: 13px;
    top: 50%;
    margin-top: -186px;
    z-index: 500;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    width: 37px;
    display: block;
    cursor: pointer;
}

.sidebar ul li a {
    margin: 0 auto;
    margin-bottom: 75px;
    height: 37px;
    display: block;
    transition: background 1s;
}

.sidebar ul li:last-child a {
    margin-bottom: 0;
}

.sidebar li {
    padding: 0;
    position: relative;
}

.sidebar .to-main {
    background: url(../images/who-we-are.png) no-repeat;
}

.sidebar .to-main:hover {
    background: url(../images/who-we-are-bw.png) no-repeat;
}

.sidebar .to-articles {
    background: url(../images/service.png) no-repeat;
}

.sidebar .to-articles:hover {
    background: url(../images/service-bw.png) no-repeat;
}

.sidebar .to-gallery {
    background: url(../images/works.png) no-repeat;
}

.sidebar .to-gallery:hover {
    background: url(../images/works-bw.png) no-repeat;
}

.sidebar .to-main-footer {
    background: url(../images/contacts.png) no-repeat;
}

.sidebar .to-main-footer:hover {
    background: url(../images/contacts-bw.png) no-repeat;
}

.sidebar li .tooltip {
    position: absolute;
    padding: 14px 10px 13px 15px;
    white-space: nowrap;
    background: black;
    color: white;
    right: 57px;
    top: -3px;
    width: auto;
    text-transform: uppercase;
    font-size: 18px;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    opacity: 0;
    z-index: -1000;
    cursor: default;
}

.sidebar li .tooltip:hover {
    display: none;
}

.sidebar li .tooltip:after {
    content: "";
    width: 0;
    position: absolute;
    height: 0;
    right: -15px;
    top: 0;
    border-style: solid;
    border-width: 21px 0 21px 15px;
    border-color: transparent transparent transparent #000000;
}

.articles-drilldown {
    position: relative;
    height: 50vh;
}

.articles-drilldown .articles-list {
    height: 100%;
    width: 33.3%;
    background-color: #E1E1E1;
    padding: 0;
    float: left;
}

.articles-drilldown .articles-list ul {
    list-style-type: none;
    color: #0000FF;
    font-family: ISOCTEUR;
    text-transform: uppercase;
    font-size: 19px;
    padding: 35px 20px 20px 13%;
}

.articles-drilldown .articles-list ul li {
    background-image: url('../images/unselected-post.png');
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 5px;
    margin-bottom: 4px;
    cursor: pointer;
    font-size: 12px;
    min-height: 23px;
}

.articles-drilldown .articles-list ul li.active {
    background-image: url('../images/selected-post.png');
}

.articles-drilldown .articles-list ul li:last-child {
    background-image: url('../images/last-unselected-post.png');
}

.articles-drilldown .articles-list ul li.active:last-child {
    background-image: url('../images/last-selected-post.png');
}

.articles-drilldown .articles-content {
    height: 100%;
    width: 66.7%;
    background-color: #ECECEC;
    overflow: hidden;
    float: left;
    position: relative;
}

.articles-drilldown .articles-content .articles-header {
    font-family: ISOCTEUR;
    text-transform: uppercase;
    font-size: 30px;
    padding: 20px 0 20px 0;
    color: #000;
}

.articles-drilldown .articles-content .articles-body {
    line-height: 30px;
    padding: 30px 40px 50px 30px;
    height: 83%;
    overflow: hidden;
    font-family: Arial;
    color: #626262;
    overflow-y: scroll;
}

.articles-drilldown .articles-content .articles-body::-webkit-scrollbar {
    width: 12px;
}

.articles-drilldown .articles-content .articles-body::-webkit-scrollbar-track {
    border-radius: 0;
    background: transparent;
    width: 1px;
}

.articles-drilldown .articles-content .articles-body::-webkit-scrollbar-thumb {
    border-radius: 0;
    width: 1px;
}

.articles-drilldown .bottom-gradient {
    height: 100px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(246, 246, 246, 1);
    background: -moz-linear-gradient(top, rgba(246, 246, 246, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /*noinspection CssInvalidFunction*/
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246, 246, 246, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(246, 246, 246, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(246, 246, 246, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(246, 246, 246, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(246, 246, 246, 0) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
}

.articles-drilldown .top-gradient {
    height: 100px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(246, 246, 246, 1);
    background: -moz-linear-gradient(bottom, rgba(246, 246, 246, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /*noinspection CssInvalidFunction*/
    background: -webkit-gradient(left bottom, left top, color-stop(0%, rgba(246, 246, 246, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(bottom, rgba(246, 246, 246, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(bottom, rgba(246, 246, 246, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(bottom, rgba(246, 246, 246, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to top, rgba(246, 246, 246, 0) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
}

#gallery {
    background-color: rgba(44, 228, 255, 0.21);
}

#gallery .gallery-item {
    /*border: 1px solid red;*/
    background-size: cover;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.main-footer {
    background-image: url('../images/map.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 91vh;
    border: 0;
    text-align: center;
    position: relative;
    transition: background 2s;
    cursor: url(../images/search-icon.png) 33 33, auto;
}

.footer-bottom-image {
    width: 100%;
    background-color: #ebebeb;
    text-align: center;
    padding: 20px 0;
}

.footer-bottom-image a {
    margin: 15px auto;
}

.footer-bottom-image a:hover {
    background-image: url('../images/google-maps-hover-icon.png');;
}

.footer-address {
    float: left;
    text-align: left;
    font-family: ISOCTEUR;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    margin-left: 37px;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.footer-address p {
    font-size: 18px;
    line-height: 150%;
    margin: 30px 0;
}

.footer-address-header-social-links {
    list-style-type: none;
    left: 0;
    padding-left: 0px;
    width: 100%;
    height: auto;
    margin: 0;
}

.footer-address-header-social-links li {
    display: inline;
    margin-right: 10px;
}

.footer-contact-us {
    float: right;
    padding-right: 75px;
    font-family: ISOCTEUR;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.footer-contact-us p {
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 0 33px 0;
}

.footer-contact-us-inputs input {
    text-align: center;
    width: 280px;
    padding: 15px 0;
}

#contact_us .footer-contact-us .inputs {
    font-size: 20px;
}

.footer-contact-us-inputs .inputs #username,
.footer-contact-us-inputs .inputs #useremail,
.footer-contact-us-inputs .inputs #useretext {
    background-color: #f2f2f2;
    border: solid 2px #939393;
    outline: none;
}

.footer-contact-us-inputs .inputs #username,
.footer-contact-us-inputs .inputs #useremail {
    border-bottom: 0px;
}

#contact_us .footer-contact-us .inputs:last-child {
    border-bottom: 1px;
}

#contact_us .footer-contact-us .inputs > textarea {
    width: 276px;
    resize: vertical;
    text-align: center;
}

.footer-contact-us-inputs #useretext {
    height: 96px;
}

.contact-us-send-button {
    background: black;
    color: white;
    border: none;
    width: 284px !important;
    padding: 0;
    margin-top: 18px;
    font-family: ISOCTEUR;
    font-size: 24px;
    text-transform: uppercase;
}

.footer-google-link {
    position: relative;
    top: 84vh;
    width: 160px;
    margin: 0 auto;
}

.footer-google-link a {
    background: url(../images/google-maps-icon.png) center no-repeat;
    padding: 10px 75px;
    transition: background 0.5s;
}

.footer-google-link a:hover {
    background-image: url(../images/google-maps-hover-icon.png);
}

#languageoverlay {
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(20, 20, 20, 0.98);
    width: 100%;
    z-index: 1000;
    cursor: url(../images/test.cur), auto;
    height: 100%;
}

.gallery-overlay {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    background-color: rgba(20, 20, 20, 0.8);
    width: 100%;
    z-index: 1000;
    height: 100%;
}

.alert-overlay {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    background-color: rgba(20, 20, 20, 0.8);
    width: 100%;
    z-index: 1000;
    height: 100%;
}

.alert-overlay .alert-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: #0000ff !important;
    cursor: pointer;
    width: 13px;
    height: 12px;
    background: url("../images/close-icon.png") no-repeat -6px -6px;
}

.alert-overlay .message-success {
    /*background-image: url("../images/success-icon.png");*/
    /*background-repeat: no-repeat;*/
}

.alert-overlay .message-error{
    /*background-image: url("../images/error-icon.png")*/
    /*background-repeat: no-repeat;*/
}

.alert-overlay .alert-message {
    position: absolute;
    font-size: 25px;
    color: black;
    width: 400px;
    position: absolute;
    margin: auto auto auto -200px;
    top: 40%;
    left: 50%;
    /* right: 0; */
    /* bottom: 0; */
    background-color: #EBEBEB;
    /*background-image: url("../images/error-icon.png");*/
    background-repeat: no-repeat;
    background-position: 10px 33px;
}

.alert-overlay .alert-message ul {
    list-style: none;
    padding-left: 0;
    padding-bottom: 54px;
    margin: 25px 15px 10px 70px;
    box-sizing: content-box;
    font-size: 20px;
}

.gallery-overlay .gallery-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: #0000ff !important;
    cursor: pointer;
}

.close-button {
    color: #000000;
    background-color: #FFFFFF;
    border: 2px solid #3a3a3a;
    margin: auto;
    padding: 10px 25px;
    position: absolute;
    left: 40%;
    bottom: 5%;
    cursor: pointer;
    text-transform: uppercase;
}

.gallery-overlay .gallery {
    width: 100%;
    height: 100%;
}

.gallery-overlay .gallery-next {
    position: absolute;
    top: 50%;
    right: 30px;
    width: 30px;
    height: 8%;
    color: white;
    font-size: 28px;
}

.gallery-overlay .gallery-prev {
    position: absolute;
    top: 50%;
    left: 30px;
    width: 30px;
    height: 8%;
    color: white;
    font-size: 28px;
}

.gallery-overlay .gallery .slick-list {
    width: 100%;
    height: 100%;
}

.gallery-overlay .gallery .slick-track {
    width: 100%;
    height: 100%;
}

.gallery-overlay .gallery .lightbox-gallery-item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#languagebox {
    top: 0px !important;
    left: 0px;
    position: fixed;
    display: none;
    height: 100%;
    background: transparent;
    border-radius: 7px;
    z-index: 1001;
    width: 100%;
    cursor: url(../images/test11.cur) 50 50, auto;
}

#languagebox .locale-ru {
    background-image: url('../images/ru1.png');
}

#languagebox .locale-ru:hover {
    background-image: url('../images/ru2.png');
}

#languagebox .locale-en {
    background-image: url('../images/en1.png');
}

#languagebox .locale-en:hover {
    background-image: url('../images/en2.png');
}

#languagebox .locale {
    display: inline-block;
    width: 40px;
    background-size: cover;
    height: 40px;
    cursor: url(../images/test11.cur) 50 50, auto;
    margin: 0 25px;
    vertical-align: middle;
}

#languagebox > #languagebody {
    position: relative;
    width: 100%;
    height: 100%;
}

#languagebox > #languagebody > div {
    text-align: center;
    background: transparent;
    position: absolute;
    margin: auto;
    width: 300px;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.articles-body img.alignleft {
    float: left;
    padding: 8px 15px 15px 0;
}

.articles-body img.alignright {
    float: right;
    padding: 8px 0 10px 10px;
}

#slider_gallery {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

.about-container {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 100px;
}

.about-panel {
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: -60%;
    text-align: center;
    background-color: #ebebeb;
}

.about-panel .next-button,
.about-container .about-button {
    color: #000000;
    background-color: #FFFFFF;
    border: 2px solid #3a3a3a;
    padding: 19px 69px;
    margin: 40px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
}

.about-panel .next-button {
    background-color: #ebebeb;
    /*position: absolute;*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*bottom: 100px;*/
}

.about-panel p {
    font-family: Arial;
    text-align: center;
    padding: 30px;
    min-height: 15vh;
}

.about-container .about-button {
    border: none;
}

.slick-disabler {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.gallery_hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 28, 181, 0.7);
    cursor: pointer;
    bottom: 0;
    color: #FFFFFF;
    font-size: 24px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.4s;
}

.gallery_hover:hover {
    opacity: 1;
}

.gallery-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gallery-close {
    width: 24px;
    height: 25px;
    background: url("../images/close-icon.png") center no-repeat;
}

.gallery-prev {
    width: 40px;
    height: 40px;
    background: url("../images/left-arrow-icon.png") center no-repeat;
}

.gallery-next {
    width: 40px;
    height: 40px;
    background: url("../images/right-arrow-icon.png") center no-repeat;
}

.about-panel-hide {
    width: 18px;
    height: 18px;
    background: url("../images/bottom-arrow-icon.png") center bottom no-repeat;
    padding: 35px 20px 10px 20px;
    cursor: pointer;
    border: none;
}

.about-panel-hide:focus {
    outline: 0;
}

.about-panel h1 {
    text-transform: uppercase;
}

@media (max-width: 1200px) {
    .articles .category {
        font-size: 16px;
    }

    .footer-google-link {
        top: 38vh;
    }
}

@media ( max-width: 992px ) {
    .footer-address {
        font-size: 26px;
    }

    .footer-address p {
        font-size: 14px;
        margin: 30px 0;
    }

    .footer-contact-us {
        padding-right: 60px;
    }

    .footer-contact-us p {
        font-size: 32px;
        margin: 0 0 33px 0;
    }

    .footer-contact-us-inputs input {
        width: 240px;
        padding: 15px 0;
    }

    #contact_us .footer-contact-us .inputs > textarea {
        width: 236px;
    }

    .contact-us-send-button {
        width: 244px !important;
        margin-top: 18px;
    }

    .articles .category .item {
        padding: 0;
    }

    .main .description{
        font-size: 16px;
        padding: 0 22%;
        top: 45%;
    }
}

@media ( max-width: 800px ) {

    .main-footer {
        text-align: center;
        position: inherit;
        width: 100%;
    }

    .footer-address {
        float: none;
        top: 20%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-contact-us {
        float: none;
        top: 104%;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
    }

    .footer-contact-us-inputs .inputs #username,
    .footer-contact-us-inputs .inputs #useremail,
    .footer-contact-us-inputs .inputs #useretext {
        width:45%;
    }
    #contact_us .footer-contact-us .inputs > textarea {
        width: 44.5%;
        resize: vertical;
        text-align: center;
    }

    .contact-us-send-button {
        width: 45.5% !important;
    }

    .footer-google-link {
        top: 0;
    }

    .footer-bottom-image {
        position: inherit;
        margin-top: 56%;
    }

    .main .description{
        font-size: 15px;
        padding: 0 22%;
        top: 42%;
    }
}

@media (max-width: 768px) {
    .articles .category {
        width: 33.3%;
    }

    .articles .category .icon {
        display: none;
    }

    .articles .category .title {
        height: 62px;
        padding-top: 15px;
    }

    .articles .category.active .icon {
        display: block;
        height: 62px;
    }

    .articles-drilldown .articles-list,
    .articles-drilldown .articles-content {
        width: 100%;
        float: none;
    }

    .articles-drilldown .articles-content {
        height: 100vh;
    }

    .articles-drilldown .bottom-gradient {
        left: 0;
        width: 100%;
    }

    .articles-drilldown {
        clear: both;
        height: auto;
    }

    .footer-contact-us {
        top: 100%;
    }

    .footer-contact-us p {
        font-size: 40px;
        margin: 0 0 33px 0;
    }

    .footer-contact-us-inputs .inputs #username,
    .footer-contact-us-inputs .inputs #useremail,
    .footer-contact-us-inputs .inputs #useretext {
        width:45%;
    }
    #contact_us .footer-contact-us .inputs > textarea {
        width: 44.5%;
        resize: vertical;
        text-align: center;
    }

    .contact-us-send-button {
        width: 45.5% !important;
    }

    .footer-google-link {
        top: -10%;
    }

    .footer-bottom-image {
        margin-top: 65%;
    }

    .main .description{
        font-size: 15px;
        padding: 0 22%;
        top: 42%;
    }

    .about-panel p {
        overflow-y: scroll;
        height: 35%;
        text-align: justify;
    }
}

@media (max-width: 600px) {

    .footer-contact-us-inputs .inputs #username,
    .footer-contact-us-inputs .inputs #useremail,
    .footer-contact-us-inputs .inputs #useretext {
        width:65%;
    }

    #contact_us .footer-contact-us .inputs > textarea {
        width: 64.2%;
    }

    .contact-us-send-button {
        width: 65.7% !important;
    }

    .footer-google-link {
        top: -10%;
    }

    .footer-bottom-image {
        margin-top: 77%;
    }

    .main .description{
        font-size: 15px;
        padding: 0 21% 0 13%;
        top: 38%;
    }

    .about-panel p {
        overflow-y: scroll;
        height: 35%;
    }
}

@media (max-width: 500px) {

    .articles .category .title {
        font-size: 14px;
    }

    .footer-contact-us {
        top: 87%;
    }

    .contact-us-send-button {
        width: 66.1% !important;
    }

    .footer-google-link {
        top: -10%;
    }

    .footer-bottom-image {
        margin-top: 85%;
    }

    .main .description{
        font-size: 14px;
        padding: 0 21% 0 10%;
        top: 38%;
    }

    .about-panel p {
        overflow-y: scroll;
        height: 35%;
    }
}

@media (max-width: 375px) {

    .main .home-link {
        left: -120px;
    }

    .main .home-icon {
        left: 0;
    }

    .articles .category {
        width: 50%;
    }

    .footer-contact-us {
        top: 97%;
    }

    .footer-google-link {
        top: -10%;
    }

    .footer-bottom-image {
        margin-top: 112%;
    }

    .main .description{
        font-size: 12px;
        padding: 0 22% 0 10%;
        top: 38%;
    }

    .about-panel p {
        overflow-y: scroll;
        height: 35%;
    }

    .about-panel .next-button,
    .about-container .about-button{
        margin: 0px;
    }
}

@media (max-width: 320px) {

    .footer-contact-us {
        top: 93%;
    }

    .footer-google-link {
        top: -15%;
    }

    .footer-bottom-image {
        margin-top: 123%;
    }

    .about-panel .next-button,
    .about-container .about-button{
        margin: 0px;
    }
}

@media (max-width: 320px) and (max-height: 568px){
    .main .description{
        font-size: 11px;
        padding: 0 22% 0 10%;
        top: 30%;
    }

    .about-panel .next-button,
    .about-container .about-button{
        margin: 0px;
    }

    .about-panel p {
        overflow-y: scroll;
        height: 35%;
    }

}

@media (max-width: 320px) and (max-height: 480px){
    .main .description{
        top: 40%;
        font-size: 9px;
    }

    .about-panel p {
        overflow-y: scroll;
        height: 35%;
    }

    .about-panel .next-button,
    .about-container .about-button{
        margin: 0px;
    }
}
