@font-face {
    font-family: ISOCTEUR;
    src: url(../fonts/ISOCTEUR.ttf);
}

body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

.main {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.main video {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.main .logo {
    position: relative;
    height: 100%;
    width: 100%;
}

.main .logo .logo-image {
    width: 60%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main .logo .logo-scroll {
    width: 30px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 20px;
}

.main .home-link {
    position: absolute;
    top: 20px;
    left: 0px;
    background-color: #000000;
    width: 120px;
    height: 35px;
    margin: 0 auto;
}

.main .home-link img {
    width: 70px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main .home-icon {
    position: absolute;
    width: 35px;
    height: 35px;
    text-align: center;
    top: 20px;
    left: 121px;
    background-color: #000000;
    color: #ffffff;
}

.main .home-icon i {
    margin-top: 10px;
}

.main .description {
    position: absolute;
    width: 14%;
    top: 130px;
    left: 30px;
    line-height: 1.9em;
    font-size: 9px;
    font-family: monospace;
    color: #000000;
    text-align: justify;
}

.articles {
    width: 100%;
    margin: 0;
    padding: 0;
    /*overflow-x:hidden;*/
    white-space: nowrap;
    position: relative;
}

.articles .category {
    margin: 0;
    width: 16.65%;
    float: left;
    text-align: center;
    white-space: normal;
    font-size: 10px;
    font-family: monospace;
    padding: 0;
    cursor: pointer;
}

.articles .category:hover {
    background-color: lightgray;
}

.articles .category .item {
    margin: 10px;
}

.articles .category .icon img {
    height: 50px;
}

.sidebar {
    position: fixed;
    right: 13px;
    top: 152px;
    z-index: 999;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    width: 37px;
    display: block;
    cursor: pointer;
}
.sidebar ul li a {
    margin: 0 auto;
    margin-bottom: 75px;
    height: 37px;
    display: block;
    transition: background 1s;
}

.sidebar li {
    padding: 0;
    position: relative;
}

.sidebar .to-main {
    background: url(../images/who-we-are.png) no-repeat;
}

.sidebar .to-main:hover {
    background: url(../images/who-we-are-bw.png) no-repeat;
}

.sidebar .to-articles {
    background: url(../images/service.png) no-repeat;
}

.sidebar .to-articles:hover {
    background: url(../images/service-bw.png) no-repeat;
}

.sidebar .to-gallery {
    background: url(../images/works.png) no-repeat;
}

.sidebar .to-gallery:hover {
    background: url(../images/works-bw.png) no-repeat;
}

.sidebar .to-main-footer {
    background: url(../images/contacts.png) no-repeat;
}

.sidebar .to-main-footer:hover {
    background: url(../images/contacts-bw.png) no-repeat;
}

.sidebar li .tooltip {
    position: absolute;
    padding: 10px 10px 10px 15px;
    white-space: nowrap;
    background: black;
    color: white;
    right: 57px;
    top: -3px;
    width: auto;
    text-transform: uppercase;
    font-size: 18px;
    font-family: ISOCTEUR;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
    opacity:0;
    z-index: -1000;
}

.sidebar li .tooltip:after {
    content: "";
    width: 0;
    position: absolute;
    height: 0;
    right: -15px;
    top: 0;
    border-style: solid;
    border-width: 21px 0 21px 15px;
    border-color: transparent transparent transparent #000000;
}

.sidebar li:hover .tooltip{
    visibility:visible;
    opacity:1;
    transition-delay:0s;
    z-index: -1000;
}

.articles-drilldown {
    position: relative;
    height: 92vh;
}

.articles-drilldown .articles-list {
    height: 100%;
    width: 33.13%;
    background-color: #E1E1E1;
    padding: 30px;
}

.articles-drilldown .articles-list ul {
    list-style-type: none;
    color: #0000FF;
    font-family: ISOCTEUR;
    text-transform: uppercase;
    font-size: 19px;
}

.articles-drilldown .articles-list ul li {
    background-image: url('../images/list-image.svg');
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
    margin-bottom: 4px;
    cursor: pointer;
}

.articles-drilldown .articles-content {
    height: 100%;
    width: 66.87%;
    background-color: #ECECEC;
    position: absolute;
    left: 33.13%;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.articles-drilldown .articles-content .articles-header {
    font-family: ISOCTEUR;
    text-transform: uppercase;
    font-size: 30px;
    padding: 20px 0 20px 0;
}

.articles-drilldown .articles-content .articles-body {
    line-height: 30px;
    padding: 30px;
    height: 90%;
    overflow: hidden;
}

.articles-drilldown .bottom-gradient {
    height: 100px;
    position: absolute;
    width: 66.87%;
    bottom: 0;
    left: 33.13%;
    background: rgba(246,246,246,1);
    background: -moz-linear-gradient(top, rgba(246, 246, 246, 0) 0%, rgba(255,255,255,1) 100%);
    /*noinspection CssInvalidFunction*/
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246, 246, 246, 0)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(246, 246, 246, 0) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(246, 246, 246, 0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(246, 246, 246, 0) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(246, 246, 246, 0) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0 );
}

#gallery {
    background-color: rgba(44, 228, 255, 0.21);
}

#gallery .gallery-item {
    /*border: 1px solid red;*/
    background-size: auto 100%;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}

#gallery .gallery-item:hover {
    /*border: 1px solid red;*/
    background-size: auto 120%;
}

.main-footer {
    background-image: url('../images/map.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 101vh;
    border: 0;
    text-align: center;
    position: relative;
    transition: background 1s ease;
    cursor: url(../images/search-icon.png) 33 33, auto;
}

.footer-bottom-image {
    width: 100%;
    background-color: #ebebeb;
    text-align: center;
    padding: 10px 0;
}

.footer-bottom-image a {
    margin: 15px auto;
}

.footer-bottom-image a:hover {
    background-image: url('../images/google-maps-hover-icon.png');;
}
.footer-address {
    float: left;
    text-align: left;
    font-family: ISOCTEUR;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    margin-left: 37px;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.footer-address p {
    font-size: 18px;
    line-height: 150%;
    margin: 42px 0;
}

.footer-address-header-social-links {
    list-style-type: none;
    left: 0;
    padding-left: 0px;
    width: 100%;
    height: auto;
    margin: 0;
}

.footer-address-header-social-links li {
    display: inline;
    margin-right: 10px;
}

.footer-contact-us {
    float: right;
    width: 300px;
    margin-right: 75px;
    font-family: ISOCTEUR;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.footer-contact-us p {
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 0 33px 0;
}

.footer-contact-us-inputs input {
    text-align: center;
    width: 296px;
    padding: 15px 0;
}

#contact_us .footer-contact-us .inputs {
    border-bottom: 0;
    font-size: 20px;
}

#contact_us .footer-contact-us .inputs:last-child {
    border-bottom: 1px;
}
#contact_us .footer-contact-us .inputs > textarea {
    width: 98%;
    resize: vertical;
    text-align: center;
}

.footer-contact-us-inputs #useretext {
    height: 96px;
}

.contact-us-send-button {
    background: black;
    color: white;
    border: none;
    width: 300px !important;
    padding: 0;
    margin-top: 30px;
    font-family: ISOCTEUR;
    font-size: 24px;
    text-transform: uppercase;
}

.footer-google-link {
    position: relative;
    top: 92vh;
}

.footer-google-link a {
    background: url(../images/google-maps-icon.png) center no-repeat;
    padding: 10px 75px;
    transition: background 0.5s;
}

.footer-google-link a:hover {
    background-image: url(../images/google-maps-hover-icon.png);
}

#languageoverlay {
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(20, 20, 20, 0.98);
    width: 100%;
    z-index: 1000;
    cursor: url(../images/enru.png), auto;
    height: 100%;
}

#languagebox {
    top: 0px !important;
    left: 0px;
    position: fixed;
    display: none;
    height: 100%;
    background: transparent;
    border-radius: 7px;
    z-index: 1001;
    width: 100%;
    cursor: url(../images/enru.png) 10 10, auto;
}

#languagebox .locale-ru {
    background-image: url('../images/ru1.png');
}

#languagebox .locale-ru:hover {
    background-image: url('../images/ru2.png');
}

#languagebox .locale-en {
    background-image: url('../images/en1.png');
}

#languagebox .locale-en:hover {
    background-image: url('../images/en2.png');
}

#languagebox .locale {
    display: inline-block;
    width: 40px;
    background-size: cover;
    height: 40px;
    cursor: url(../images/enru.png) 50 50, auto;
    margin: 0 25px;
    vertical-align: middle;
}

#languagebox > #languagebody {
    position: relative;
    width: 100%;
    height: 100%;
}

#languagebox > #languagebody > div {
    text-align: center;
    background: transparent;
    position: absolute;
    margin: auto;
    width: 300px;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.articles-body img.alignleft {
    float: left;
    padding: 8px 10px 10px 0;
}

.articles-body img.alignright {
    float: right;
    padding: 8px 0 10px 10px;
}