@font-face {
    font-family: ISOCTEUR;
    src: url(../fonts/ISOCTEUR.ttf);
}

body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: ISOCTEUR;
}

.main {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.main video {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.main .logo {
    position: relative;
    height: 100%;
    width: 100%;
}

.main .logo .logo-image {
    width: 60%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main .logo .logo-scroll {
    width: 30px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 20px;
}

.main .home-link {
    position: absolute;
    top: 20px;
    left: 0px;
    background-color: #000000;
    width: 120px;
    height: 35px;
    margin: 0 auto;
}

.main .home-link img {
    width: 70px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main .home-icon {
    position: absolute;
    width: 35px;
    height: 35px;
    text-align: center;
    top: 20px;
    left: 121px;
    background-color: #000000;
    color: #ffffff;
}

.main .home-icon i {
    margin-top: 10px;
}

.main .description {
    position: absolute;
    width: 14%;
    top: 130px;
    left: 30px;
    line-height: 1.9em;
    font-size: 9px;
    font-family: monospace;
    color: #000000;
    text-align: justify;
}

.articles {
    width: 100%;
    margin: 0;
    padding: 0;
    /*overflow-x:hidden;*/
    white-space: nowrap;
    position: relative;
}

.articles .category {
    margin: 0;
    width: 16.65%;
    float: left;
    text-align: center;
    white-space: normal;
    font-family: monospace;
    padding: 0;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
}

.articles .category:hover {
    background-color: lightgray;
}

.articles .category .item {
    margin: 10px;
    padding: 0 20px;
}

.articles .category.active {
    background-color: lightgray;
}

.articles .category.active .title {
    display: none;

}

.articles .category .icon,
.articles .category .title {
    height: 48px;
    padding-top: 2px;
}

.articles .category.active .icon {
    height: 98px;
}

.articles .category.active .title {
    display: none;
}

.articles .category .icon img {
    height: 100%;
    width: auto;
}

.articles .category.active .icon img {
    height: 90%;
}

.sidebar {
    position: fixed;
    right: 13px;
    top: 152px;
    z-index: 500;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    width: 37px;
    display: block;
    cursor: pointer;
}

.sidebar ul li a {
    margin: 0 auto;
    margin-bottom: 75px;
    height: 37px;
    display: block;
    transition: background 1s;
}

.sidebar li {
    padding: 0;
    position: relative;
}

.sidebar .to-main {
    background: url(../images/who-we-are.png) no-repeat;
}

.sidebar .to-main:hover {
    background: url(../images/who-we-are-bw.png) no-repeat;
}

.sidebar .to-articles {
    background: url(../images/service.png) no-repeat;
}

.sidebar .to-articles:hover {
    background: url(../images/service-bw.png) no-repeat;
}

.sidebar .to-gallery {
    background: url(../images/works.png) no-repeat;
}

.sidebar .to-gallery:hover {
    background: url(../images/works-bw.png) no-repeat;
}

.sidebar .to-main-footer {
    background: url(../images/contacts.png) no-repeat;
}

.sidebar .to-main-footer:hover {
    background: url(../images/contacts-bw.png) no-repeat;
}

.sidebar li .tooltip {
    position: absolute;
    padding: 10px 10px 10px 15px;
    white-space: nowrap;
    background: black;
    color: white;
    right: 57px;
    top: -3px;
    width: auto;
    text-transform: uppercase;
    font-size: 18px;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    opacity: 0;
    z-index: -1000;
    cursor: default;
}

.sidebar li .tooltip:hover {
    display: none;
}

.sidebar li .tooltip:after {
    content: "";
    width: 0;
    position: absolute;
    height: 0;
    right: -15px;
    top: 0;
    border-style: solid;
    border-width: 21px 0 21px 15px;
    border-color: transparent transparent transparent #000000;
}

.articles-drilldown {
    position: relative;
    height: 65vh;
}

.articles-drilldown .articles-list {
    height: 100%;
    width: 33.3%;
    background-color: #E1E1E1;
    padding: 0;
    float: left;
}

.articles-drilldown .articles-list ul {
    list-style-type: none;
    color: #0000FF;
    font-family: ISOCTEUR;
    text-transform: uppercase;
    font-size: 19px;
    padding: 35px 20px 20px 13%;
}

.articles-drilldown .articles-list ul li {
    background-image: url('../images/list-image.svg');
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 5px;
    margin-bottom: 4px;
    cursor: pointer;
    font-size: 12px;
}

.articles-drilldown .articles-list ul li.active {
    background-image: url('../images/list-image-current.svg');
}

.articles-drilldown .articles-list ul li:last-child {
    background-image: url('../images/list-image-last.svg');
}

.articles-drilldown .articles-list ul li.active:last-child {
    background-image: url('../images/list-image-current-last.svg');
}

.articles-drilldown .articles-content {
    height: 100%;
    width: 66.7%;
    background-color: #ECECEC;
    overflow: hidden;
    float: left;
}

.articles-drilldown .articles-content .articles-header {
    font-family: ISOCTEUR;
    text-transform: uppercase;
    font-size: 30px;
    padding: 20px 0 20px 0;
    color: #000;
}

.articles-drilldown .articles-content .articles-body {
    line-height: 30px;
    padding: 30px 40px 50px 30px;
    height: 83%;
    overflow: hidden;
    font-family: Arial;
    color: #626262;
    overflow-y: scroll;
}

.articles-drilldown .articles-content .articles-body::-webkit-scrollbar {
    width: 12px;
}

.articles-drilldown .articles-content .articles-body::-webkit-scrollbar-track {
    border-radius: 0;
    background: transparent;
    width: 1px;
}

.articles-drilldown .articles-content .articles-body::-webkit-scrollbar-thumb {
    border-radius: 0;
    width: 1px;
}

.articles-drilldown .bottom-gradient {
    height: 100px;
    position: absolute;
    width: 66.7%;
    bottom: 0;
    left: 33.3%;
    background: rgba(246, 246, 246, 1);
    background: -moz-linear-gradient(top, rgba(246, 246, 246, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /*noinspection CssInvalidFunction*/
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246, 246, 246, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(246, 246, 246, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(246, 246, 246, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(246, 246, 246, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(246, 246, 246, 0) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
}

#gallery {
    background-color: rgba(44, 228, 255, 0.21);
}

#gallery .gallery-item {
    /*border: 1px solid red;*/
    background-size: cover;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.main-footer {
    background-image: url('../images/map.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 91vh;
    border: 0;
    text-align: center;
    position: relative;
    transition: background 2s;
    cursor: url(../images/search-icon.png) 33 33, auto;
}

.footer-bottom-image {
    width: 100%;
    background-color: #ebebeb;
    text-align: center;
    padding: 20px 0;
}

.footer-bottom-image a {
    margin: 15px auto;
}

.footer-bottom-image a:hover {
    background-image: url('../images/google-maps-hover-icon.png');;
}

.footer-address {
    float: left;
    text-align: left;
    font-family: ISOCTEUR;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    margin-left: 37px;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.footer-address p {
    font-size: 18px;
    line-height: 150%;
    margin: 30px 0;
}

.footer-address-header-social-links {
    list-style-type: none;
    left: 0;
    padding-left: 0px;
    width: 100%;
    height: auto;
    margin: 0;
}

.footer-address-header-social-links li {
    display: inline;
    margin-right: 10px;
}

.footer-contact-us {
    float: right;
    width: 300px;
    margin-right: 75px;
    font-family: ISOCTEUR;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.footer-contact-us p {
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 0 33px 0;
}

.footer-contact-us-inputs input {
    text-align: center;
    width: 280px;
    padding: 15px 0;
}

#contact_us .footer-contact-us .inputs {
    font-size: 20px;
}

.footer-contact-us-inputs .inputs #username,
.footer-contact-us-inputs .inputs #useremail,
.footer-contact-us-inputs .inputs #useretext {
    background-color: #f2f2f2;
    border: solid 2px #939393;
    outline: none;
}

.footer-contact-us-inputs .inputs #username,
.footer-contact-us-inputs .inputs #useremail {
    border-bottom: 0px;
}

#contact_us .footer-contact-us .inputs:last-child {
    border-bottom: 1px;
}

#contact_us .footer-contact-us .inputs > textarea {
    width: 92.3%;
    resize: vertical;
    text-align: center;
}

.footer-contact-us-inputs #useretext {
    height: 96px;
}

.contact-us-send-button {
    background: black;
    color: white;
    border: none;
    width: 95% !important;
    padding: 0;
    margin-top: 18px;
    font-family: ISOCTEUR;
    font-size: 24px;
    text-transform: uppercase;
}

.footer-google-link {
    position: relative;
    top: 85vh;
}

.footer-google-link a {
    background: url(../images/google-maps-icon.png) center no-repeat;
    padding: 10px 75px;
    transition: background 0.5s;
}

.footer-google-link a:hover {
    background-image: url(../images/google-maps-hover-icon.png);
}

#languageoverlay {
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(20, 20, 20, 0.98);
    width: 100%;
    z-index: 1000;
    cursor: url(../images/enru.png), auto;
    height: 100%;
}

.gallery-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(20, 20, 20, 0.8);
    width: 100%;
    z-index: 1000;
    height: 100%;
}

.gallery-overlay .gallery-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: #0000ff !important;
    cursor: pointer;
}

.gallery-overlay .gallery {
    width: 100%;
    height: 100%;
}

.gallery-overlay .gallery-next {
    position: absolute;
    top: 50%;
    right: 30px;
    width: 30px;
    height: 8%;
    color: white;
    font-size: 28px;
}

.gallery-overlay .gallery-prev {
    position: absolute;
    top: 50%;
    left: 30px;
    width: 30px;
    height: 8%;
    color: white;
    font-size: 28px;
}

.gallery-overlay .gallery .slick-list {
    width: 100%;
    height: 100%;
}

.gallery-overlay .gallery .slick-track {
    width: 100%;
    height: 100%;
}

.gallery-overlay .gallery .lightbox-gallery-item {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#languagebox {
    top: 0px !important;
    left: 0px;
    position: fixed;
    display: none;
    height: 100%;
    background: transparent;
    border-radius: 7px;
    z-index: 1001;
    width: 100%;
    cursor: url(../images/enru.png) 10 10, auto;
}

#languagebox .locale-ru {
    background-image: url('../images/ru1.png');
}

#languagebox .locale-ru:hover {
    background-image: url('../images/ru2.png');
}

#languagebox .locale-en {
    background-image: url('../images/en1.png');
}

#languagebox .locale-en:hover {
    background-image: url('../images/en2.png');
}

#languagebox .locale {
    display: inline-block;
    width: 40px;
    background-size: cover;
    height: 40px;
    cursor: url(../images/enru.png) 50 50, auto;
    margin: 0 25px;
    vertical-align: middle;
}

#languagebox > #languagebody {
    position: relative;
    width: 100%;
    height: 100%;
}

#languagebox > #languagebody > div {
    text-align: center;
    background: transparent;
    position: absolute;
    margin: auto;
    width: 300px;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.articles-body img.alignleft {
    float: left;
    padding: 8px 15px 15px 0;
}

.articles-body img.alignright {
    float: right;
    padding: 8px 0 10px 10px;
}

#slider_gallery {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

.about-container {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 150px;
}

.about-panel {
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: -60%;
    text-align: center;
    background-color: #ebebeb;
}

.about-panel .next-button,
.about-container .about-button {
    color: #000000;
    background-color: #FFFFFF;
    border: 2px solid #3a3a3a;
    padding: 15px 40px;
    margin: 40px;
    cursor: pointer;
    text-transform: uppercase;
}

.about-panel p {
    font-family: Arial;
    text-align: center;
    padding: 30px;
}

.about-container .about-button {
    border: none;
}

.slick-disabler {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.gallery_hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 28, 181, 0.7);
    cursor: pointer;
    bottom: -100%;
    color: #FFFFFF;
    font-size: 24px;
    text-transform: uppercase;
}

.gallery-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gallery-close {
    width: 24px;
    height: 25px;
    background: url("../images/close-icon.png") center no-repeat;
}

.gallery-prev {
    width: 40px;
    height: 40px;
    background: url("../images/left-arrow-icon.png") center no-repeat;
}

.gallery-next {
    width: 40px;
    height: 40px;
    background: url("../images/right-arrow-icon.png") center no-repeat;
}

.about-panel-hide {
    width: 18px;
    height: 18px;
    background: url("../images/bottom-arrow-icon.png") center bottom no-repeat;
    padding: 35px 20px 10px 20px;
    cursor: pointer;
    border: none;
}

.about-panel-hide:focus {
    outline: 0;
}

.about-panel h1 {
    text-transform: uppercase;
}

@media screen and ( max-width: 992px ) {
    .footer-address {
        font-size: 26px;
    }

    .footer-address p {
        font-size: 14px;
        margin: 30px 0;
    }

    .footer-contact-us {
        margin-right: 35px;
    }

    .footer-contact-us p {
        font-size: 32px;
        margin: 0 0 33px 0;
    }

    .footer-contact-us-inputs input {
        width: 240px;
        padding: 15px 0;
    }

    #contact_us .footer-contact-us .inputs > textarea {
        width: 78.9%;
    }

    .contact-us-send-button {
        width: 82% !important;
        margin-top: 18px;
    }

    .footer-google-link {
        top: 94%;
    }

    .articles .category .item {
        padding: 0;
    }
}

@media screen and ( max-width: 800px ) {

    .main-footer {
        text-align: center;
        position: inherit;
        width: 100%;
    }

    .footer-address {
        float: none;
        top: 20%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-contact-us {
        float: none;
        top: 111%;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-google-link {
        top: 0%;
    }

    .footer-bottom-image {
        position: inherit;
        margin-top: 56%;
    }

}

@media (max-width: 1200px) {
    .articles .category {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .articles .category .icon {
        display: none;
    }

    .articles .category .title {
        height: 98px;
    }

    .articles .category.active .icon {
        display: block;
    }

    .articles-drilldown .articles-list,
    .articles-drilldown .articles-content {
        width: 100%;
        float: none;
    }

    .articles-drilldown .articles-content {
        height: 100vh;
    }

    .articles-drilldown .bottom-gradient {
        left: 0;
        width: 100%;
    }

    .articles-drilldown {
        clear: both;
        height: auto;
    }

    .footer-contact-us {
        top: 108%;
    }

    .footer-contact-us p {
        font-size: 40px;
        margin: 0 0 33px 0;
    }

    .footer-contact-us-inputs input {
        width: 280px;
        padding: 15px 0;
    }

    #contact_us .footer-contact-us .inputs > textarea {
        width: 92.3%;
    }

    .contact-us-send-button {
        width: 95% !important;
    }

    .footer-google-link {
        top: -10%;
    }

    .footer-bottom-image{
        margin-top: 65%;
    }
}

@media (max-width: 600px) {
    .footer-google-link {
        top: -10%;
    }

    .footer-bottom-image{
        margin-top: 77%;
    }
}

@media (max-width: 500px) {
    .footer-contact-us {
    top: 107%;
}
    .footer-google-link {
    top: -10%;
}

    .footer-bottom-image{
    margin-top: 85%;
}
}

@media (max-width: 375px) {

    .footer-contact-us {
        top: 107%;
    }
    .footer-google-link {
        top: -10%;
    }

    .footer-bottom-image{
        margin-top: 112%;
    }
}

@media (max-width: 320px) {

    .footer-contact-us {
        top: 106%;
    }
    .footer-google-link {
        top: -30%;
    }

    .footer-bottom-image{
        margin-top: 123%;
    }
}